@CHARSET "ISO-8859-1";

.PiePagina
{
	position:relative;
	top: -1.4em;
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align:center;
	font-size:9pt;
	background-image:url("imagenes/barra_final3.jpg");
	color:#fff;
}

.TitulosNoticia
{
	position:absoltute;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-size:15pt;
	background-image:url("imagenes/panelesNoticias.png");
	color:#fff;
	border-top: 1.5px solid;
	border-right: 1.5px solid;
	border-left: 1.5px solid;
    border-color: #000000;
    border-radius: 5px;
}

.PanelCrearNoticia
{
	position:absoltute;
	border: 1.5px solid;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    text-align:center;
}

.TitulosEscenario
{
	position:absoltute;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-size:15pt;
	background-image:url("imagenes/panelesNoticias.png");
	color:#fff;
	border-top: 1.5px solid;
	border-right: 1.5px solid;
	border-left: 1.5px solid;
    border-color: #000000;
    border-radius: 5px;
}

.PanelCrearEscenario
{
	position:absoltute;
	border: 1.5px solid;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    text-align:left;
}

.TitulosEscuelas
{
	position:absoltute;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-size:15pt;
	background-image:url("imagenes/panelesNoticias.png");
	color:#fff;
	border-top: 1.5px solid;
	border-right: 1.5px solid;
	border-left: 1.5px solid;
    border-color: #000000;
    border-radius: 5px;
}

.PanelCrearEscuela
{
	position:absoltute;
	border: 1.5px solid;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    text-align:center;
}

.PanelCrearEscuelaAlineadoIzquierda
{
	position:absoltute;
	border: 1.5px solid;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    text-align:left;
}

.TitulosEventos
{
	position:absoltute;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-size:15pt;
	background-image:url("imagenes/panelesNoticias.png");
	color:#fff;
	border-top: 1.5px solid;
	border-right: 1.5px solid;
	border-left: 1.5px solid;
    border-color: #000000;
    border-radius: 5px;
}

.PanelCrearEvento
{
	position:absoltute;
	border: 1.5px solid;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    text-align:center;
}

.TitulosEvento
{
	position:absoltute;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-size:15pt;
	background-image:url("imagenes/inicioSanCristobal.png");
	color:#fff;
	border-top: 1.5px solid;
	border-right: 1.5px solid;
	border-left: 1.5px solid;
    border-color: #000000;
    border-radius: 5px;
}