<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
>

<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="estilos.css" />
<script type="text/javascript" src="inicioJs.js"></script>
<h:outputScript name="jquery/jquery.js" library="primefaces" />
<title>Afiliacion Canal Digital</title>
</h:head>
<h:body>
<h:form id="mainForm" prependId="false">     

	<div class="ui-grid ui-grid-responsive" style="color:black;">
	    <div class="ui-grid-row">
	    	<div class="ui-grid-col-2"></div>
	    	<div class="ui-grid-col-4">    	
	    	
	    		<p:outputLabel for="tipoIdentificacion" value="Tipo de identificación:" 
	    		style="font-family:'Homer Simpson',cursive; font-size: 13px;"/><br/>
		        <p:selectOneMenu id="tipoIdentificacion" value="#{afiliacionView.tipoIdentificacion}" 
		        style="width:250px;"><br/>
		            <f:selectItem itemLabel="Cédula de ciudadania" itemValue="Cédula de ciudadania" />
		            <f:selectItem itemLabel="Número de pasaporte" itemValue="Número de pasaporte" />
		            <f:selectItem itemLabel="Número de razón social" itemValue="Número de razón social" />
		            <f:selectItem itemLabel="Tarjeta de identidad" itemValue="Tarjeta de identidad" />
		        </p:selectOneMenu>
		        <p:message for="tipoIdentificacion"/>
		        
		        <h:outputText value="Identificación: " style="font-family:'Homer Simpson',cursive; font-size: 13px;"/><br/>
	    		<p:inputText id="identificacion" value="#{afiliacionView.identificacion}"  required="true" 
	    		style="width:300px;height:15px;"/><br/>
	    		<p:message for="identificacion"/>
	    		
	    		<h:outputText value="Correo Electronico: " style="font-family:'Homer Simpson',cursive; font-size: 13px;"/><br/>
	    		<p:inputText id="correo" value="#{afiliacionView.correoElectronico}" required="true" 
	    		style="width:300px;height:15px;"/><br/>
	    		<p:message for="correo "/>
	    		
	    		<h:outputText value="Teléfono: " style="font-family:'Homer Simpson',cursive; font-size: 13px;"/><br/>
	    		<p:inputText id="telefono" value="#{afiliacionView.celular}" required="true" 
	    		style="width:300px;height:15px;"/><br/>
	    		<p:message for="telefono"/>
	    		
          		<p:spacer height="10" /> 
          		<br/>
			    <p:commandButton actionListener="#{afiliacionView.afiliarse}"  value="Guardar" styleClass="boton" style = "position:relative; left: 100px;"/>   	
		      
			</div>		
			<div class="ui-grid-col-1"></div>
			<div class="ui-grid-col-5"></div>
		</div>     
	</div>

</h:form>  

</h:body>
</html>