.container {
    position: relative;
    text-align: left;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.centerRegistro {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.centerImagen {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.ui-icon-eliminar {
    background: url("../imagenes/eliminar.png")  no-repeat top left !important;
}